@{
    ViewBag.Title = "Profile";
}

<hgroup class="title">
    <h1>Player profile:</h1>
    <h2>@ViewBag.Name</h2>
</hgroup>

<article>
    <table>
        <tr>
            <td>Games won:</td>
            <td>@ViewBag.Wins</td>
        </tr>
        <tr>
            <td>Games lost:</td>
            <td>@ViewBag.Losses</td>
        </tr>
    </table>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
</aside>