.icon {
    width: 3em;
    height: 3em;
    box-sizing: border-box;
    border-width: 0.2em;
    border-radius: 0.2em;
    border-color: yellow;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}