@model TechTree.Models.GameModel

@section head {
    @Styles.Render("~/Content/Tree.css")
}

@section scripts {
    @Scripts.Render("~/bundles/game")

    <script type="text/javascript">
        var tree = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Tree));
        processTree(tree);
        var map = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Map));
        ReactDOM.render(React.createElement(GameClient, {tree: tree, map: map}), document.getElementById('gameRoot'));
    </script>
}

<div id="gameRoot"></div>