@model TechTree.Models.GameModel

@section head {
    @Styles.Render("~/Content/Tree.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/Tree.js")
    @Scripts.Render("~/Scripts/GameUI.js")
}

<div class="toggleTree">show tree</div>

<div id="treeHolder">
    @Html.Partial("Tree/_TreePartial", Model.Tree)
</div>

<canvas id="mainView" width="800" height="600">
    Enable javascript to play
</canvas>