@model TechTree.Models.GameModel

@section head {
    @Styles.Render("~/Content/Tree.css")
}

@section scripts {
    @Scripts.Render("~/bundles/game")

    <script type="text/javascript">
        var tree = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Tree));
        var map = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Map));
        init(tree, map);
    </script>
}

<div id="gameRoot"></div>