@model TechTree.Models.GameModel

@section head {
    @Styles.Render("~/Content/Tree.css")
}

@section scripts {
    @Scripts.Render("~/bundles/game")

    <script type="text/javascript">
        var Tree = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Tree));
        ReactDOM.render(React.createElement(GameClient), document.getElementById('gameRoot'));
    </script>
}

<div id="gameRoot"></div>