body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.game {
	overflow: hidden;
    position: relative;

    position:absolute;
    top: 4em; left: 0; right: 0; bottom: 0;
}

.game > .sideBar {
    position: absolute;
    right: 0; top: 0; bottom: 0em;
    width: 8em;
    background-color: #eee;

}

.game > .bottomBar {
    position: absolute;
    height: 2em;
    bottom: 0em; left: 0em; right: 8em;
    background-color: #ccc;
}

.game .mainView {
    overflow: scroll;
    position: relative;
}

.game .mainView canvas {
    position: fixed;
    top: 4em; left: 0;
    pointer-events: none;
}