techtree {
    display: block;
    position: relative;
    font-size: 200%;
    text-align:center;
}

building::before, unit::before {
	content: attr(symbol);
}

building, info, feature {
    width: 2.5em;
    display: block;
    color: black;
    background-color: white;
}

building::before, info, feature {
    border-style: solid;
    border-width: 2px;
    border-radius: 0.3em;
}

info, feature {
    border-width: 2px;
}

building::before {
    display: block;
    padding-top: 0.2em;
    border-width: 2px 2px 0 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

unit:last-of-type {
    border-bottom-width: 2px;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

building {
    position: relative;
}

building {
    position: absolute;
    cursor:pointer;
}

unit {
    display: block;
    width: 100%;
    color: black;
}

unlocks > unit {
    border-style: solid;
    border-radius: 0;
    border-width: 2px 2px 0 2px;
    border-color: #000;
}

unit::before {
    font-size: 60%;
}

info {
    z-index: 1;
    display: none;
    position: absolute;
    top: -2px; /* building border width */
    border-color: #aaa;
}

info {
    width: 9em;
    min-height: 3.5em;
    left: 3em;
    padding: 0.25em;
}

building > info, unit > info {
    top: 0.75em;
}

building.hover > info, unit.hover > info, feature.hover > info {
    display: block;
}

info > *:not(feature) {
    display: block;
}

info > *:not(name):not(feature) {
    font-size: 50%;
    padding-left: 2.5em;
}

info > *:not(name):not(feature):not(description)::before {
    position: absolute;
    left: 0.5em;
}

info cost > *, info stats > * {
    white-space: nowrap;
}

info cost > *:not(:first-child), info stats > *:not(:first-child) {
    margin-left: 0.5em;
}

info cost::before {
    content: "cost: ";
}

info stats::before {
    content: "stats: ";
}

feature info stats::before {
    content: "use: ";
}

info builtat::before {
    content: "built at: ";
}

info requires::before {
    content: "requires: ";
}

info unlocked::before {
    content: "unlocked at: ";
}

info upgradesFrom::before {
    content: "upgrade of: ";
}

info cost minerals::before {
    content: "\2604";
    color: #06f;
}

info cost vespine::before {
    content: "\2668";
    color: #0c0;
}

info cost supply::before {
    content: "\26FD";
    color: #f90;
}

info cost supply.positive::before {
    content: "\26FD +";
}

info cost supply.positive {
    color: #f90;
}

info cost time::before, info cost cooldown::before {
    content: "\26E3";
    color: #999;
}

info stats health::before {
    content: "\2629";
    color: #c00;
}

info stats armor::before {
    content: "\26C9";
    color: #0c0;
}

info stats mana::before {
    content: "\26A1";
    color: #0cf;
}

info stats actionpoints::before {
    content: "\261B";
    color: #c0c;
}

info stats vision::before {
    content: "\26EF";
    color: #aa0;
}

info stats detector::before {
    content: "detector";
    color: #fc0;
}

info cost uses::before {
    content: "\267B";
    color: #999;
}
feature > info > description {
    padding-left: 0em;
    text-align: left;
}

info feature {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.3em;
    border-color: #aaa;
    margin-top: 0.25em;
}

info feature::before {
    content: attr(symbol);
}

feature > info {
    left: 9.5em;
}

info > feature[mode=Passive] {
    border-style: dotted;
}

info > feature[mode=Toggled] {
    border-style: double;
    border-width: 3px;
}

info > feature[mode=Triggered] {
    border-style: solid;
}

info > feature[mode=Purchased] {
    border-style: dashed;
}


.hover {
    color: #f90;
    border-color: #f90;
}

.hover + unit, building.hover > unlocks > unit:first-child {
    border-top-color: #f90;
}

techtree link {
    display: block;
    position: absolute;
    z-index: -1;
}

techtree link.left, techtree link.right {
    border-top: 2px solid green;
}

techtree link.left, techtree link.straight {
    border-left: 2px solid green;
}

techtree link.right {
    border-right: 2px solid green;
}

techtree link.straight {
    width: 5px;
}