.treePopup {
    position: fixed;
    top: 4em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    background-color: white;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.5em;

    overflow: auto;
}

.techTree {
    font-size: 200%;
    position: relative;
    text-align:center;
}

.techTree .building::before, .techTree .unit::before {
	content: attr(data-symbol);
}

.techTree .building, .techTree .info, .techTree .feature {
    width: 2.5em;
    display: block;
    color: black;
    background-color: white;
}

.techTree .building::before, .techTree .info, .techTree .feature {
    border-style: solid;
    border-width: 2px;
    border-radius: 0.3em;
}

.techTree .info, .techTree .feature {
    border-width: 2px;
}

.techTree .building::before {
    display: block;
    padding-top: 0.2em;
    border-width: 2px 2px 0 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.techTree .unit:last-child {
    border-bottom-width: 2px;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.techTree .building {
    position: absolute;
    cursor:pointer;
}

.techTree .unit {
    display: block;
    width: 100%;
    color: black;
    border-style: solid;
    border-radius: 0;
    border-width: 2px 2px 0 2px;
    border-color: #000;
}

.techTree .unit::before {
    font-size: 60%;
}

.techTree .info {
    z-index: 1;
    display: none;
    position: absolute;
    top: -2px; /* building border width */
    border-color: #aaa;
}

.techTree .info {
    width: 9em;
    min-height: 3.5em;
    left: 3em;
    padding: 0.25em;
}

.techTree .building > .info, .techTree .unit > .info {
    top: 0.75em;
}

.techTree .building.hover > .info, .techTree .unit.hover > .info, .techTree .feature.hover > .info {
    display: block;
}

.techTree .info > *:not(.feature) {
    display: block;
}

.techTree .info > *:not(.name):not(.feature) {
    font-size: 50%;
    padding-left: 2.5em;
}

.techTree .info > *:not(.name):not(.feature):not(.description)::before {
    position: absolute;
    left: 0.5em;
}

.techTree .info .cost > *, .techTree .info .stats > * {
    white-space: nowrap;
}

.techTree .info .cost > *:not(:first-child), .techTree .info .stats > *:not(:first-child) {
    margin-left: 0.5em;
}

.techTree .info .cost::before {
    content: "cost: ";
}

.techTree .info .stats::before {
    content: "stats: ";
}

.techTree .feature info .stats::before {
    content: "use: ";
}

.techTree .info .builtat::before {
    content: "built at: ";
}

.techTree .info .requires::before {
    content: "requires: ";
}

.techTree .info .unlocked::before {
    content: "unlocked at: ";
}

.techTree .info .upgradesFrom::before {
    content: "upgrade of: ";
}

.techTree .info .cost .minerals::before {
    content: "\2604";
    color: #06f;
}

.techTree .info .cost .vespine::before {
    content: "\2668";
    color: #0c0;
}

.techTree .info .cost .supply::before {
    content: "\26FD";
    color: #f90;
}

.techTree .info .cost .supply.positive::before {
    content: "\26FD +";
}

.techTree .info .cost .supply.positive {
    color: #f90;
}

.techTree .info .cost .time::before, .techTree .info .cost .cooldown::before {
    content: "\26E3";
    color: #999;
}

.techTree .info .stats .health::before {
    content: "\2629";
    color: #c00;
}

.techTree .info .stats .armor::before {
    content: "\26C9";
    color: #0c0;
}

.techTree .info .stats .mana::before {
    content: "\26A1";
    color: #0cf;
}

.techTree .info .stats .actionpoints::before {
    content: "\261B";
    color: #c0c;
}

.techTree .info .stats .vision::before {
    content: "\26EF";
    color: #aa0;
}

.techTree .info .stats .detector::before {
    content: "detector";
    color: #fc0;
}

.techTree .info .cost .uses::before {
    content: "\267B";
    color: #999;
}
.techTree .feature > .info > .description {
    padding-left: 0em;
    text-align: left;
}

.techTree .info .feature {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.3em;
    border-color: #aaa;
    margin-top: 0.25em;
}

.techTree .info .feature::before {
    content: attr(data-symbol);
}

.techTree .feature > .info {
    left: 9.5em;
}

.techTree .info > .feature[data-mode=Passive] {
    border-style: dotted;
}

.techTree .info > .feature[data-mode=Toggled] {
    border-style: double;
    border-width: 3px;
}

.techTree .info > .feature[data-mode=Triggered] {
    border-style: solid;
}

.techTree .info > .feature[data-mode=Purchased] {
    border-style: dashed;
}


.techTree .unit.hover, .techTree .building.hover, .techTree .feature.hover {
    color: #f90;
    border-color: #f90;
}

.techTree .hover + .unit, .techTree .building.hover > .unlocks > .unit:first-child {
    border-top-color: #f90;
}

.techTree .techtree .link {
    display: block;
    position: absolute;
    z-index: -1;
}

.techTree .techtree .link.left, .techtree .link.right {
    border-top: 2px solid green;
}

.techtree .link.left, .techtree .link.straight {
    border-left: 2px solid green;
}

.techtree .link.right {
    border-right: 2px solid green;
}

.techtree .link.straight {
    width: 5px;
}