.icon {
    position: relative;
}

.icon__icon {
    width: 3em;
    height: 3em;
    box-sizing: border-box;
    border-radius: 0.2rem;
    border: solid yellow 0.2rem;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__icon--prerequisite {
    border-color: #f90;
}

.icon__icon--highlight {
    border-color: white;
}

.icon__icon--disabled {
    border-color: grey;
    color: #ccc;
    background-color: black;
}

.icon__tooltip {
    top: 0.2rem;
    left: 100%;
}

.icon:not(:hover) .icon__tooltip {
    display: none;
}